{% extends "template.jinja2" %}
{% block title %}Home{% endblock %}
{% block content %}
    <h1>Mariscal</h1>
    <a href="{{ request.route_url('new_mock') }}">Create Mock</a>
    <h2>Mocks</h2>
    {% for mock in mocks %}
        <div class="mock">
            <a href="{{ request.route_url('view_mock', mock_id=mock.id) }}">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        {{ mock.title }}
                    </div>
                    <div class="panel-body">
                        <div class="content">
                            {{ mock.content }}
                        </div>
                        <div class="info">
                            {{ mock.user.name }}   {{ mock.time.strftime('%Y/%m/%d - %H:%M') }}
                        </div>
                    </div>
                </div>
            </a>
        </div>
    {% endfor %}
{% endblock %}