{% extends "../template.jinja2" %}
{% block title %}Edit Mock{% endblock %}
{% block content %}
    <form method="post">
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" name="title" placeholder="Title" value="{{ mock.title }}">
        </div>
        <div class="form-group">
            <label for="content">Content</label>
            <textarea name="content" placeholder="mock text" rows="5">{{ mock.content }}</textarea>
        </div>
        <input type="submit" name="form.submitted" class="btn btn-primary" value="Edit Mock">
    </form>
{% endblock %}