{% extends "../template.jinja2" %}
{% block title %}Mock Detail{% endblock %}
{% block content %}
    <h1>Mock Detail</h1>
    <div class="panel panel-primary">
        <div class="panel-heading">
            {{ mock.title }}
        </div>
        <div class="panel-body">
            <div class="content">
                {{ mock.content }}
            </div>
            <div class="info">
                {{ mock.user.name }}   {{ mock.time.strftime('%Y/%m/%d - %H:%M') }}
            </div>
        </div>
    </div>
    {% if author.name == user.name %}
        <form>
            <input type="submit" name="form.submitted" class="btn btn-primary" value="Edit Mock">
        </form>
    {% endif %}
{% endblock %}